@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/*------------
Resset Css
------------*/

*,
 ::after,
 ::before,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: sticky;
    overflow: hidden;
    top: 0;
    z-index: 99999;
    width: 100%;
    background: #fff;
    box-shadow: 0px 52px 80px rgba(0, 0, 0, 0.0139364), 0px 15.6765px 24.1177px rgba(0, 0, 0, 0.02), 0px 6.51121px 10.0172px rgba(0, 0, 0, 0.0260636), 0px 2.35498px 3.62304px rgba(0, 0, 0, 0.04);
}

.navbar .container .navbar-brand img {
    width: 100%;
    max-width: 68px;
    transition: .5s;
}

.navbar .container .navbar-toggler {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .container .navbar-toggler:focus {
    border-color: #3658A2;
    box-shadow: 0 0 0 0.25rem rgb(189, 205, 239);
}

.navbar .container .navbar-toggler ion-icon {
    font-size: 38px;
}

.navbar .container .navbar-collapse .navbar-nav {
    justify-content: space-between;
    width: 100%;
}

.navbar .container .navbar-collapse .navbar-nav .menu {
    display: flex;
}

.navbar .container .navbar-collapse .navbar-nav .menu .nav-link {
    font-weight: 400;
}

.navbar .container .navbar-collapse .navbar-nav .getStarted .nav-link {
    font-weight: 400;
}

@media screen and (max-width: 991px) {
    .navbar .container .navbar-brand img {
        max-width: 62px;
        transition: .5s;
    }
    .navbar .container .navbar-collapse {
        position: fixed;
        z-index: 100;
        background-color: #fff;
        box-shadow: 0px -70px 80px rgba(0, 0, 0, 0.0243888), 0px -21.103px 24.1177px rgba(0, 0, 0, 0.035), 0px -8.76509px 10.0172px rgba(0, 0, 0, 0.0456112), 0px -3.17016px 3.62304px rgba(0, 0, 0, 0.07);
        top: 0;
        width: 0%;
        left: -350px;
        height: 100%;
        transition: 1s ease;
        max-width: 350px;
        padding: 2rem;
        opacity: .4;
    }
    .navbar .container .navbar-collapse.showNavbar {
        width: 75%;
        left: 0px;
        transition: 1s ease;
        opacity: 1;
    }
    .navbar .container .navbar-collapse .navbar-nav {
        width: 100%;
    }
    .navbar .container .navbar-collapse .navbar-nav .menu {
        flex-direction: column;
        opacity: 1;
    }
    .navbar .container .navbar-collapse .navbar-nav .menu .nav-link {
        padding: .7rem 0;
    }
    .navbar .container .navbar-collapse .navbar-nav .menu .nav-link.active {
        color: #3658A2;
        font-weight: 500;
    }
}

@media screen and (min-width: 992px) {
    .navbar .container .navbar-toggler {
        display: none;
    }
    .navbar .container .navbar-collapse .navbar-nav .menu .nav-link {
        padding: 0;
        margin: .5rem 1rem;
        position: relative;
    }
    .navbar .container .navbar-collapse .navbar-nav .menu .nav-link.active {
        color: #3658A2;
        font-weight: 600;
    }
    .navbar .container .navbar-collapse .navbar-nav .menu .nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        position: absolute;
        bottom: -5px;
        transform: translateX(50%);
        background-color: #3658A2;
        transition: .3s ease;
    }
    .navbar .container .navbar-collapse .navbar-nav .menu .nav-link:hover::after {
        width: 50%;
        transition: .3s ease;
    }
    .navbar .container .navbar-collapse .navbar-nav .getStarted {
        display: flex;
    }
    .navbar .container .navbar-collapse .navbar-nav .getStarted .polygon {
        position: relative;
    }
    .navbar .container .navbar-collapse .navbar-nav .getStarted .polygon .clipath {
        display: block;
        background-color: #fff;
        height: 100%;
        position: absolute;
        width: 130px;
        top: -29px;
        overflow: hidden;
        left: -65px;
        z-index: 2222000;
        height: 238%;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
    .navbar .container .navbar-collapse .navbar-nav .getStarted::after {
        content: '';
        display: block;
        background-color: #3658A2;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .navbar .container .navbar-collapse .navbar-nav .getStarted .buttonWrapper {
        position: relative;
        padding-left: 7rem;
    }
    .navbar .container .navbar-collapse .navbar-nav .getStarted .buttonWrapper .nav-link {
        background-color: #fff;
        border-radius: 6px;
        color: #3658A2;
        font-weight: 500;
        padding: .5rem 1.4rem;
    }
    .navbar .container .navbar-collapse .navbar-nav .getStarted .buttonWrapper .nav-link:hover {
        background-color: #f2f2f2;
    }
}


/* End navbar */


/* Banner News */

.bannerNews {
    margin-top: 2rem;
}

.bannerNews .carousel .carousel-inner .carousel-item img {
    border-radius: 5px;
}

@media screen and (max-width: 771px) {
    .bannerNews .carousel .carousel-inner .carousel-item img {
        border-radius: 5px;
    }
}


/* End Banner News */


/* Img News Head */

.imgNewsHead {
    margin-top: 3rem;
}

.imgNewsHead img {
    width: 100%;
    border-radius: 10px;
}


/* End Img News Head */


/* Artikel */

.artikel h2 {
    padding-top: 2rem;
}

.artikel p {
    padding-top: .5rem;
}


/* End Artikel */


/* News */

.beritaWrapper .headNews {
    display: flex;
    align-items: center;
    padding-top: 5rem;
    justify-content: center;
    flex-direction: column;
}

.beritaWrapper .headNews h1 {
    position: relative;
    color: #000000;
}

.beritaWrapper .headNews h1 {
    color: #535353;
}

.beritaWrapper .headNews h1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -90px;
    display: block;
    width: 70px;
    height: 4px;
    border-radius: 5px;
    background-color: #3658A2;
}

.beritaWrapper .headNews h1::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -90px;
    display: block;
    width: 70px;
    height: 4px;
    border-radius: 5px;
    background-color: #3658A2;
}

.beritaWrapper .beritaContainer {
    padding-top: 3rem;
}

.beritaWrapper .beritaContainer .news {
    text-decoration: none;
}

.beritaWrapper .beritaContainer .news h5 {
    color: #535353;
    font-size: 20px;
    padding: 1rem 1.5rem;
}

.beritaWrapper .beritaContainer .secRow {
    margin-top: 2rem;
}


/* End News */


/* Footer */

footer {
    margin-top: 8rem;
    background: #3658A2;
}

footer .container .contentFooter {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: flex-start;
    border-bottom: 1px solid #fff;
    padding: 4rem 0;
    transition: .5s;
}

footer .container .contentFooter .line {
    width: 100%;
    transition: .5s;
}

footer .container .contentFooter .line a {
    text-decoration: none;
    color: white;
}

footer .container .contentFooter .line img {
    height: 120px;
    margin-bottom: .5rem;
}

footer .container .contentFooter .line p {
    font-size: 14px !important;
    margin-bottom: 0.5rem;
}

footer .container .contentFooter .line .socialMedia {
    display: flex;
}

footer .container .contentFooter .line .socialMedia .social {
    padding: .7rem;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .container .contentFooter .line .socialMedia .social:not(:last-child) {
    margin-right: .6rem;
}

footer .container .contentFooter .line .socialMedia .social ion-icon {
    color: #3658A2;
    font-size: 24px;
}

footer .container .contentFooter .line p {
    font-size: 16px;
}

footer .container .contentFooter .line:not(:last-child) {
    margin-right: 5rem;
}

footer .container .contentFooter .line h1,
footer .container .contentFooter .line h3 {
    margin-bottom: 1rem;
}

footer .container .contentFooter .line h3 {
    font-size: 18px;
}

footer .container .contentFooter .line .linkToPages {
    display: flex;
    flex-direction: column;
}

footer .container .contentFooter .line .linkToPages a,
footer .container .contentFooter .line .linkToPages p {
    text-decoration: none;
    padding: .4rem 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

footer .container .contentFooter .line .phone {
    margin-bottom: .5rem;
}

footer .container .copyright {
    text-align: center;
    font-weight: 400;
    color: #fff;
    padding: 2rem 1rem;
}

@media screen and (max-width: 1199px) {
    footer .container .contentFooter {
        display: flex;
    }
    footer .container .contentFooter .line .brand {
        font-size: 38px;
    }
    footer .container .contentFooter .line .socialMedia .social ion-icon {
        font-size: 28px;
    }
    footer .container .contentFooter .line p {
        font-size: 14px;
    }
    footer .container .contentFooter .line:not(:last-child) {
        margin-right: 3rem;
    }
    footer .container .contentFooter .line h3 {
        font-size: 16px;
    }
    footer .container .contentFooter .line .linkToPages a,
    footer .container .contentFooter .line .linkToPages p {
        font-size: 14px;
    }
    footer .container .contentFooter .line .phone {
        font-size: 24px;
    }
    footer .container .copyright {
        text-align: center;
        font-weight: 400;
        color: #fff;
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 991px) {
    footer .container .contentFooter {
        display: flex;
        flex-direction: column;
        padding: 3rem 0 1.5rem 0;
    }
    footer .container .contentFooter .line {
        margin-bottom: 2.5rem;
    }
    footer .container .contentFooter .line .brand {
        font-size: 46px;
    }
    footer .container .contentFooter .line p {
        font-size: 18px !important;
        margin-bottom: 1rem;
    }
    footer .container .contentFooter .line .socialMedia .social ion-icon {
        font-size: 28px;
    }
    footer .container .contentFooter .line p {
        font-size: 14px;
    }
    footer .container .contentFooter .line:not(:last-child) {
        margin-right: 0;
    }
    footer .container .contentFooter .line h3 {
        font-size: 22px;
    }
    footer .container .contentFooter .line .linkToPages a,
    footer .container .contentFooter .line .linkToPages p {
        font-size: 16px !important;
    }
    footer .container .contentFooter .line .phone {
        font-size: 28px;
    }
    footer .container .copyright {
        text-align: center;
        font-weight: 400;
        color: #fff;
        padding: 1.5rem 1rem;
    }
}

@media screen and (max-width: 767px) {
    footer .container .contentFooter .line .brand {
        font-size: 36px;
    }
    footer .container .contentFooter .line p {
        font-size: 14px !important;
    }
    footer .container .contentFooter .line .socialMedia .social ion-icon {
        font-size: 24px;
    }
    footer .container .contentFooter .line h3 {
        font-size: 20px;
    }
    footer .container .contentFooter .line .linkToPages a,
    footer .container .contentFooter .line .linkToPages p {
        font-size: 16px !important;
    }
    footer .container .contentFooter .line .phone {
        font-size: 22px;
    }
    footer .container .copyright {
        text-align: center;
        font-weight: 400;
        color: #fff;
        padding: 1.5rem 1rem;
        font-size: 14px;
    }
}


/* End Footer */